@media only screen and (max-width: 1900px){
:root {
    --body-bg: #262626;
    --nav-bg: #255C99;
    --fotter-bg: #254A73;
}

.container {
    display: grid;

}

p {
    overflow: hidden;
}

.image{
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    font-size: 1.25rem;
    display: grid;
    background-color: var(--body-bg);
    gap: 1.25rem;
    color: white;
    min-height: 100vh;
    background-image: url("hero.webp") ;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    background-image: url("images\hero.webp");
}
.info{
    position: absolute;
    top: 120px;
    left: 80px;
    background-color: rgb(201 27 27 / 50%);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6vw 6vw 4px 4px;
}
.info2{
    position: absolute;
    bottom: 100px;
    right: 80px;
    background-color: rgb(201 27 27 / 50%);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6vw 6vw 4px 4px;
}
.info2 p{
    display: grid;
    width: 19rem;
    margin-bottom: 10px;
    text-align: right;
}
.info p{
    display: grid;
    width: 18rem;
    margin-bottom: 10px;
    text-align: right;
}
.info h2{
    border-radius: 7vw 7vw 2px 2px;
}
.info2 h2{
    border-radius: 7vw 7vw 2px 2px;
}
h1{
    text-align: center;
    border-radius: 15px 15px 2px 2px;
    background-color: var(--fotter-bg);
}

h2 {
    text-align: center;
    background-color: #255C99;
}

nav {
    position: sticky;
    top: 0;
    height: 100%;
    max-height: 100vh;
    background-color: var(--nav-bg);
}

.navbar {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 4rem;
    padding-block: 2rem;
    font-size: 1.5rem;
}

.navbar li {
    padding: 2rem 2rem;
    margin-left: 2rem;
    border-radius: 100vw 0 0 100vw;
}

.navbar li:hover {
    background-color: var(--body-bg);
}

.navbar a {
    color: white;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--fotter-bg);
    width: 100%;
    color: white;
    text-align: center;
    padding: 16px;
    position: bottom;
}
.more{
    display: none;
}
.more2{
    display: none;
}
}
@media only screen and (max-width: 700px){
    .wrapper{
        display: none;
    }
    .info{
        color: white;
    }
    .info2{
        color: white;
    }
    .info2 p{
        color: white;
    }
    .info p{
        color: white;
    }
    .more{
        display: grid;
        text-align: center;
        background-color: rgb(201 27 27 / 70%);

    }
    .more2{
        display: grid;
        text-align: center;
        background-color: rgb(201 27 27 / 70%);
    }
    h2 {
        text-align: center;
        background-color: #255C99;
    }
}